@{
    ViewData["Title"] = "Welcome To Myproduct";
}
@model IEnumerable<Product>
<style>
    body {
        background-image: url('/assets/images/bg6.jpg');
    }

</style>
<div class="container-fluid py-5" style="background-color: #0a4275;">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-end mb-4 mb-md-0">
            <h1 class="display-6 text-light">Welcome To Product Catalog</h1>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-8 alert alert-dismissible bg-light-info border border-info border-3 border-dashed d-flex justify-content-between p-1 m-2">
            <div class="d-flex align-items-center">
                <span class="svg-icon svg-icon-2hx svg-icon-info me-4 mb-5 mb-sm-0">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 122.88 101.37" style="enable-background:new 0 0 122.88 101.37" xml:space="preserve">
                            <!-- Your SVG path here -->
                        </svg>
                    </span>
                </span>
                <!--begin::Content-->
                <div class="d-flex flex-column pe-0 pe-sm-10">
                    <h5 class="mb-1">List of Products</h5>
                </div>
            </div>
            <div>
                <a class="btn btn-primary " href="/Product/Create">
                    Create
                </a>
            </div>
        </div>
        <div class="col-4 alert alert-dismissible bg-light-info border border-info border-3 border-dashed d-flex justify-content-between p-1 m-2">
            <form id="filter-form">
                <div class="form-group m-2">
                    <label for="categoryName">Category Name:</label>
                    <hr />
                </div>
                <div class="form-group d-flex m-2">
                    <input type="text" class="form-control" id="categoryName" name="CategoryName">
                    <button type="submit" class="btn btn-primary mx-2">Filter</button>
                </div>
            </form>


            </div>
    </div>
</div>



<div class="container mt-4">
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-hover" id="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Created By</th>
                        <th>Price</th>
                        <th>Start date</th>
                        <th>Duration</th>
                        <th>Categories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr class="ParentClass">
                            <td>
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">
                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ID">
                                                @product.Name
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">

                                    <span class="badge bg-primary text-white">@product.CreatedById</span>
                                </div>
                            </td>
                            <td>
                                <div class="mb-2">
                                    <strong>Price is:</strong>
                                    <span class="badge bg-primary text-white">@product.Price</span>
                                </div>
                            </td>
                            <td>
                                <div class="mb-2">
                                    <strong>Start date at:</strong>

                                    @{
                                        if (@product.StartDate > DateTime.Now)
                                        {
                                            <span class="badge bg-warning text-white">@product.StartDate.ToString("MM/dd/yyyy")</span>
                                        }
                                        else if (@product.StartDate <= DateTime.Now && @product.StartDate.AddDays(@product.Duration) >= DateTime.Now)
                                        {
                                            <span class="badge bg-primary text-white">@product.StartDate.ToString("MM/dd/yyyy")</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger text-white">@product.StartDate.ToString("MM/dd/yyyy")</span>
                                        }
                                    }


                                </div>
                            </td>
                            <td>
                                <div class="mb-2">
                                    <strong>Duration will be:</strong>
                                    <span class="badge bg-primary text-white">
                                        @{
                                            var endDate = product.StartDate.AddDays(product.Duration);
                                        }
                                        @endDate.ToString("MM/dd/yyyy")
                                    </span>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0">
                                    @foreach (var item in product.Categories)
                                    {
                                        <span class="badge bg-info">@item.Category!.Name</span>

                                        <br />
                                    }
                                </p>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="svg-icon svg-icon-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor"></rect>
                                                    <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                                    <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                                    <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                                </g>
                                            </svg>
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <h6 class="dropdown-header">Quick Actions</h6>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Product" asp-action="Edit" asp-route-id="@product.ID">Edit</a>
                                        <a class="dropdown-item js-delete" href="javascript:;" data-id="@product.ID">Delete Product</a>
                                    </div>
                                </div>
                            </td>
                        </tr>




                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var dataTable = $('#table').DataTable({
                searching: false,
                "pagingType": "simple_numbers",
                stateSave: true,
                lengthMenu: [5, 10, 15, 20, 25],
                "language": {
                    "paginate": {
                        "previous": "&lt;", // Custom "Previous" button label
                        "next": "&gt;" // Custom "Next" button label
                    }
                }
            });
            $('.js-delete').on('click', function () {
                var btn = $(this);
                console.log("Hello");
                bootbox.confirm({
                    message: 'This is a confirm with custom button text and color! Do you like it?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Product/Delete/' + btn.data('id'),
                                success: function () {
                                    btn.parents('.ParentClass').fadeOut();
                                    toastr.success('Movie Deleted successfully!');
                                },
                                error: function () {
                                    toastr.error('Something Went Wrong!');
                                },
                            });
                        }
                    }
                });
            });
            // Redraw the table to apply the custom pagination styling
            dataTable.on('draw.dt', function () {
                dataTable.$('.paginate_button').addClass('current');
            });
            function filterProducts() {
                var categoryName = $('#categoryName').val();
                console.log('CategoryName:', categoryName);

                $.ajax({
                    url: '/Product/Index?CategoryName=' + categoryName,
                    method: 'GET',
                    success: function (data) {
                        console.log('AJAX request success'); // Add this line
                        // Clear existing DataTable data
                        dataTable.clear();
                        // Add filtered data to DataTable
                        dataTable.rows.add(data).draw();
                    },
                    error: function () {
                        console.log('AJAX request error'); // Add this line
                        toastr.error('Something Went Wrong!');
                    }
                });
            }

            
        });

    </script>
}
